<configuration xmlns:x="https://www.sitecore.com/xmlconfig/">
  <sitecore>
    <controlSources>
      <source mode="on" namespace="Sitecore.SharedSource.Customizations" assembly="Sitecore.SharedSource.LanguageSelectorList" prefix="sharedSourceCustomFields" />
    </controlSources>
  </sitecore>
</configuration>